@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="jumbotron" style="background-image: url('../../Images/Books.jpg'); background-size: cover;">
        <h1 style="color: white; text-shadow: 2px 2px #000000" ;>About Us</h1>
        <p style="color: white; text-shadow: 2px 2px #000000;">Guide to the Library, opening times and more</p>
    </div>
    <div class="container-fluid">
        <div style="background-color:white;" class="row">
            <div class="col-lg-6">
                <h2>We're Back'</h2>
                <p>
                    We’re open for everyone. All our Reading Rooms and galleries have now reopened,
                    and we’re restarting events in our Knowledge Centre Theatre. We’re so excited to see you. <br />
                    You can now use our public desks and Members’ Room, and visit our Treasures Gallery
                    without needing to pre-book a ticket.<br />
                    For general enquiries about our services, exhibitions and events Chat with our Customer Services Team.<br />
                    When Quick Chat is unavailable, you can contact our Customer Services Team by telephone on
                    +44 (0)1937 546060 during the hours of 09.00 – 16.00, Monday to Friday
                </p>
            </div>
            <div class="col-lg-6">
                <h2>Opening Hours</h2>
                <h4 style="font-weight: bold;">Monday</h4>
                <p>9.00am - 6.00pm</p>
                <h4 style="font-weight: bold" ;>Tuesday</h4>
                <p>9.00am - 5.00pm</p>
                <h4 style="font-weight: bold">Wednesday</h4>
                <p>9.00am - 8.00pm</p>
                <h4 style="font-weight: bold">Thursday</h4>
                <p>10.00am - 5.00pm</p>
                <h4 style="font-weight: bold">Friday</h4>
                <p>9.00am - 6.00pm</p>
                <h4 style="font-weight: bold">Saturday</h4>
                <p>10.00am - 4.30pm </p>
                <h4 style="font-weight: bold">Sunday</h4>
                <p>Closed</p>
            </div>
        </div>
        <div style="background-color:white;" class="row">
            <div class="col-lg-6">
                <h2><br /></h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive img-rounded" src="~/Images/Hum 1.jpg" />
                        <h2>Become a Reader</h2>
                        <p>
                            Take a seat in one of our Reading Rooms and access over 150 million collection items.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2><br /></h2>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <img class="img-responsive img-rounded" src="~/Images/Origin Coffee Roasters at The British Library.jpg" />
                        <h2>Eat, Drink, Shop</h2>
                        <p>
                            Dine or refuel yourself in our cafés and restaurant, and explore our range of products in our shop.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>