@{
    ViewBag.Title = "Contact";
}
<div class="container" style="background-color:white;">
<h1>Contact Us</h1>
<p>Telephone: +44 (0)1937 546060</p>
    <div class="jumbotron" style="background-image: url('../../Images/Books.jpg'); background-size: cover; "></div>
</div>
