@{
    ViewBag.Title = "Contact";
}
<script src="~/JavaScript.js"></script>
<div class="container" style="background-color:white;">
    <div class="jumbotron" style="background-image: url('../../Images/Books.jpg'); background-size: cover; ">
        <h1 style="text-align:center; color: white; text-shadow: 2px 2px #000000;">Contact Us</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align:center;">Where To Find Us</h1>
        </div>
    </div>
    <div style="background-color:white;" class="row">
        <div class="col-lg-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2288.304063726082!2d-7.3245806840984455!3d55.002834880359536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485fe180335aa009%3A0x9891404a7b74ac64!2sNorth%20West%20Regional%20College!5e0!3m2!1sen!2suk!4v1638741141489!5m2!1sen!2suk" style="border:0; width:100%; height:400px;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-lg-6">
            <h2>Address</h2>
            <h4>Strand Road</h4>
            <h4>Derry, Londonderry</h4>
            <h4>BT487AL</h4>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <br />
            <br/>
            <iframe style="height: 400px; width: 100%; text-align: center;" src="https://www.youtube.com/embed/CXkjHLBr_y0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>
