@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('../../Images/library.jpg'); background-size: cover;">
    <h1 style="color: white; text-shadow: 2px 2px #000000;">City Library</h1>
    <p style="color: white; text-shadow: 2px 2px #000000;" class="lead">Books | Audio Books | eMagazines</p>
</div>
<div class="container-fluid">
    <div style="background-color:white;" class="row">
        <div class="col-lg-6">
            <h2>What's On</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="https://www.bl.uk/events/elizabeth-and-mary">
                        <img class="img-responsive img-rounded" style="max-width: auto; max-height: auto" src="~/Images/Elizabeth and Mary exhibition image August 2021.jpg" />
                    </a>
                    <h2>Elizabeth and Mary: Royal Cousins, Rival Queens</h2>
                    <p>
                        Open until Sun 20 Feb 2022
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h2><br /></h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="https://www.bl.uk/events/treasures-of-the-british-library">
                        <img class="img-responsive img-rounded" src="~/Images/TreasuresWhatsOnhomepage624x351.jpg" />
                    </a>
                    <h2>Treasures of the City Library</h2>
                    <p>
                        From Magna Carta and Shakespeare to Florence Nightingale and Gandhi.
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="https://www.bl.uk/events/tudorfest">
                        <img class="img-responsive img-rounded" src="~/Images/4-dec-Tudor-Fest-Composite.jpg" />
                    </a>
                    <h2>TudorFest</h2>
                    <p>
                        Journey into the alternative histories of the Tudor period.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color:floralwhite;" class="row">
        <div class="col-lg-6">
            <h2>News</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <a href="https://www.bl.uk/news/2021/december/keeping-everyone-safe">
                                <img class="img-responsive img-rounded" src="~/Images/BritishLibrary-ElizabethAndMary-JustineTrickett-011795s.jpg" />
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <h2>Keeping Everyone Safe</h2>
                            <p>
                                In line with the latest guidance
                                you must now wear a face covering in our shops,
                                and continue to wear one when you’re using…
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <a href="https://www.bl.uk/news/2021/november/a-christmas-gift-for-all">
                                <img class="img-responsive img-rounded" src="~/Images/Gift-for-all-news-banner.png" />
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <h2>A Christmas Gift For All</h2>
                            <p>
                                Every gift purchased from the City Library
                                this Christmas helps open up a world of ideas
                                and inspiration for everyone,…
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <a href="https://www.bl.uk/news/2021/november/2021-cdp-call-for-hei-partners">
                                <img class="img-responsive img-rounded" src="~/Images/BL Inside_022.jpg" />
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <h2>Call for academic partners - AHRC Collaborative Doctoral Partnerships</h2>
                            <p>
                                Call for UK academic partners to collaborate on AHRC funded doctoral research
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <h2>Blogs</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <a href="https://blogs.bl.uk/english-and-drama/2021/11/book-now-for-online-event-keep-on-keeping-on-celebrating-andrew-salkey.html?_ga=2.263611276.1200601280.1638455131-2067068457.1638455131">
                                <img class="img-responsive img-rounded" src="~/Images/english_and_drama.jpg" />
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <h2>Book Now For Online Event</h2>
                            <h3>'Keep On Keeping On: Celebrating Andrew Salkey'</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <a href="https://blogs.bl.uk/digitisedmanuscripts/2021/11/merlin-the-magician.html?_ga=2.263611276.1200601280.1638455131-2067068457.1638455131">
                                <img class="img-responsive img-rounded" src="~/Images/european.jpg" />
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <h2>Merlin the magician:</h2>
                            <h3>From devil’s son to King Arthur’s trusted advisor</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <a href="https://blogs.bl.uk/european/2021/12/from-dositej-obradovi%C4%87-with-thanks-a-donation-of-the-first-serbian-books.html?_ga=2.236939009.1200601280.1638455131-2067068457.1638455131s">
                                <img class="img-responsive img-rounded" src="~/Images/medieval_manuscripts.jpg" />
                            </a>
                        </div>
                        <div class="col-lg-9">
                            <h2>From Dositej Obradović with thanks: </h2>
                            <h3>A donation of the first Serbian books</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div style="background-color:white;"  class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img style="width: 100%; height: 100%; object-fit: fill; " class="img-responsive" src="~/Images/peopleinlibrary.jpg" alt="Los Angeles">
                    </div>
                    <div class="item">
                        <img style="width: 100%; height: 100%; object-fit: fill; " class="img-responsive" src="~/Images/library5.jpg" alt="Chicago">
                    </div>
                    <div class="item">
                        <img style="width: 100%; height: 100%; object-fit:fill;" class="img-responsive" src="~/Images/moremorelibrary.jpg" alt="New York">
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
