@{
    Layout = null;
}
<div class="container" style="background-color:white;">
    <h2 style="text-align:center;">Message Received</h2>
    <p style="text-align:center;">We will contact you shortly</p>
</div>
